<div class="search_box">
  <%= form_with model: post, url: search_path, method: :get, local: true do |form| %>
    <%= form.select :keyword, [ ['投稿が新しい順', 'new'], ['投稿が古い順', 'old'],['いいねが多い順', 'goods'],] %>
    <%= form.submit "並び替え", class: "btn btn-info fas" %>
  <% end %>
</div>