<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <table class='table table-hover table-inverse'>
        <tbody>
          <div id="post_index_all">
            <%= render 'index_all', posts: @posts %>
          </div>
        </tbody>
      </table>
      <!--%= paginate @posts %>-->
    </div>
  </div>
</div>