/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


// 全般
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ヘッダー
.header_nav {
  height: 100px;
  background-color: rgba(32, 178, 170, 0.8);
}

.header_logo {
  height: auto;
  margin-right: 150px;
}

/* 検索ボックス */
dl.searchbox{
  margin-left: 1150px;
  width: 200px;
  position:relative;
  background-color:#fff;
  border:1px solid #aaa;
  border-radius:6px;
}

dl.searchbox dt input{
  width:70%;
  height:28px;
  line-height:30px;
  background:none;
  border:none;
}
dl.searchbox dd{
  position:absolute;
  top:1px;
  right:1px;
  width:30%;
}
.search-btn{
  display:block;
  background:#5fad35;
  width:100%;
  height:27px;
  line-height:35px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
}

.search-btn:hover {
  background:#228B22;
}

.slick-slide img {
  margin: 0 auto;
}

.slick-slide {
  width: auto !important;
}

.header-items {
  margin-top: 13px;
  padding-left: 1150px;
}

// post/new
.new-post {
  color : #666;
}

// post/search
.index_search{
  margin-left: 400px;
  margin-bottom: 50px;
}

.search-text {
  margin-left: 20px;
  color: #666;
}

// user/show
.text-count {
  margin-left : 200px;
  color: #666;
}

// user/edit
.user-edit {
  color : #666;
}

// フッター
footer {
  width: 100%;
  height: 80px;
  text-align: center;
  background-color: rgba(248, 248, 255, 0.5);
  position: relative;
  bottom: 0;
}

.footer-text {
  line-height: 80px;
  color: #666;
  text-align: center;
}
